# DS 3000 Lab 1
#! snip: Lab1
# $\color{red}{\text{SOLUTIONS}}$ 
#! snip-end

Due: Tuesday May 14 in-class

### Submission Instructions
Submit this `ipynb` file to Gradescope (this can also be done via the assignment on Canvas).  To ensure that your submitted `ipynb` file represents your latest code, make sure to give a fresh `Kernel > Restart & Run All` just before uploading the `ipynb` file to gradescope.

### Tips for success
- Collaborate: bounce ideas off of each other, if you are having trouble you can ask your classmates or Dr. Gerber for help with specific issues, however...
- Under no circumstances may one student view or share their ungraded homework or quiz with another student [(see also)](http://www.northeastern.edu/osccr/academic-integrity), i.e. you are welcome to **talk about** (*not* show each other your answers to) the problems.

In [1]:
#! snip: Lab1

!python3 -m snip_copy Lab1_Solutions.ipynb

#! snip-end

snip-copied: Lab1.ipynb

# Part 1 (40 points): Intro to Markdown

Use the markdown language below to create your own brief wikipedia-esque description of a topic related to International Government and Politics. 

Your mini-wiki page must include:
- three headers: a title, subtitle and subsubtitle (the #, ##, ### syntax)
- an embedded image from a web address (use an [image hosting site](https://makeawebsitehub.com/free-photo-hosting/) if you'd like to upload your own)
- a table of size at least 9 cells (i.e. 3 by 3, or 5 by 2)
- a list
- a link to another website

To practice typing in math mode, also include a LaTeX formula describing how your final grade is going to be calculated based on the syllabus, something like:

$$grade = weight_1*score_1 + weight_2*score_2$$

Please be **brief** in your text.  Aim for roughly 3 sentences total of text.

#! snip: Lab1

# Irish College Leuven

This serves as a brief introduction to the our Dialogue Home: **Irish College Leuven**

![icl](https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQiIsD1YpHKFVC2Jd2WXFvbYodEBWPPWiHGe4nPdhnXhg&s)

## About Irish College Leuven

Leuven, a picturesque city nestled in the heart of Belgium, boasts a rich history dating back to its founding in the 9th century. This charming city, known for its cobblestone streets and medieval architecture, is renowned for its vibrant culture and academic excellence. At the heart of Leuven lies the esteemed Irish College, a historic institution that has played a pivotal role in the city's scholarly heritage. Founded in 1607, the Irish College Leuven is a refurbished 17th Century former Franciscan friary that has served as a center of education and Irish culture on the European continent for over four centuries. Today, it continues to uphold its legacy as a hub of intellectual and cultural exchange.

### What to do in Leuven

- Many art galleries, museums, and churches
- Plenty of student centric activities thanks to colleges like KU Leuven
- Only a short train ride from Brussels
- May other things! Some specifics:

| Activity                  | Type                |
|---------------------------|---------------------|
| Visit St. Peter's Church  | Cultural Activity   |
| Stella Artois Brewery     | Food and Drink      |
| Oude Markt                | Shopping            |
| M Leuven                  | Cultural Activity   |
| Park Abbey                | Sight Seeing        |

If you are interested in learning more about Irish College Leuven, here is the [website](https://www.irishcollegeleuven.eu/)

#! snip-end

# Part 2: Numpy
## Part 2.1: Creating Arrays (10 points)

Create the following two arrays using the NumPy library and then print them out. Call the first array `array_a` and the second array `array_b` (make sure you keep the `import` statement below):

$$\mathbf{array_a} = \begin{bmatrix}3 & 8 & -2 & 3\\
.5 & -1 & 6 & 4\\
-5 & 7 & -42 & 2
\end{bmatrix}$$

$$\mathbf{array_b} = \begin{bmatrix}42 & 38 & 34\\
30 & 26 & 22\\
18 & 14 & 10\\
6 & 2 & -2\\
-6 & -10 & -14
\end{bmatrix}$$

In [2]:
# make sure to import numpy library
import numpy as np

In [3]:
#! snip: Lab1


# creating array_a manually with tuples
array_a = np.array([[3, 8, -2, 3],
              [.5, -1, 6, 4],
              [-5, 7, -42, 2]])

# creating array_b taking advantage of .linspace and .reshape
array_b = np.linspace(42, -14, 15).reshape(5, 3)

#! snip-end

In [4]:
# uncomment below to print array_a
#array_a

In [5]:
# uncomment below to print array_b
#array_b

## Part 2.2: Exploring Arrays (15 points)

1. Give the shape, size, ndim, and nbytes for each of the two arrays.
1. Take the transpose of both arrays. Call these `t_array_a` and `t_array_b`.
1. Try to add `array_a` and `t_array_b` (show you did this with commented out code), then remove the last column of `t_array_b` and try to add them again. In a markdown cell, explain what happened.

In [6]:
#! snip: Lab1

# printing all array_a attributes
print(array_a.shape)
print(array_a.size)
print(array_a.ndim)
print(array_a.nbytes)

#! snip-end

(3, 4)
12
2
96

In [7]:
#! snip: Lab1

# printing all array_b attributes
print(array_b.shape)
print(array_b.size)
print(array_b.ndim)
print(array_b.nbytes)

#! snip-end

(5, 3)
15
2
120

In [8]:
#! snip: Lab1

# transposing both
t_array_a = array_a.T
t_array_b = array_b.T

#! snip-end

In [9]:
#! snip: Lab1

# trying to add array_a to t_array_b
# array_a + t_array_b

#! snip-end

In [10]:
#! snip: Lab1

# removing last column of t_array_b (multiple ways to do this)
t_array_b = array_b.T[:,0:4]

# adding again
array_a + t_array_b

#! snip-end

array([[ 45. ,  38. ,  16. ,   9. ],
       [ 38.5,  25. ,  20. ,   6. ],
       [ 29. ,  29. , -32. ,   0. ]])

#! snip: Lab1

When we first tried to add them, we received an error that they could not be broadcast together because of their different dimensions. By removing the last column of `t_array_b`, we made sure they were the same dimension and could be added together.

#! snip-end

# Part 3: Pandas
## Part 3.1: Reading in Data (5 points)

On Canvas is the `train_stations_europe.csv` file. It was adapted from [this Kaggle data set](https://www.kaggle.com/datasets/headsortails/train-stations-in-europe). Read this data set in, using the `id` as the index column, and print the first few rows of the data. Make sure you keep the `import` statement below!

In [11]:
# make sure to import pandas library
import pandas as pd

In [12]:
#! snip: Lab1

# reading in the data, with appropriate index column, and printing the head
df_EUtrain = pd.read_csv('train_stations_europe.csv', index_col='id')
df_EUtrain.head()

#! snip-end

,name,latitude,longitude,parent_station_id,country,time_zone,is_city,is_main_station,is_airport
id,,,,,,,,,
1,Chateau-Arnoux-St-Auban,44.081790,6.001625,NaN,FR,Europe/Paris,True,False,False
2,Chateau-Arnoux-St-Auban,44.061565,5.997373,1.0,FR,Europe/Paris,False,True,False
3,Chateau-Arnoux Mairie,44.063863,6.011248,1.0,FR,Europe/Paris,False,False,False
4,Digne-les-Bains,44.350000,6.350000,NaN,FR,Europe/Paris,True,False,False
6,Digne-les-Bains,44.088710,6.222982,4.0,FR,Europe/Paris,False,True,False

## Part 3.2: Manipulating Data (20 points)

1. Create a subset of the data set which (a) **includes** only train stations in Belgium and (b) **excludes** all train stations which are **not** in a city. Make sure to save this subset as a new data frame and print the first few rows of the data.
1. Use the `.describe()` function to produce summary statistics for the subset from the previous part. Create a markdown cell and explain:
    - What Series did the `.describe()` function run on? What Series did it not run on? What is the difference, and what does this mean the `.describe()` function is used for?

In [13]:
#! snip: Lab1

# creating a subset of Belgian city train stations
train_bool = (df_EUtrain.loc[:, 'country'] == 'BE') & (df_EUtrain.loc[:, 'is_city']  != False)

belgium_city = df_EUtrain.loc[train_bool, :]
belgium_city.head()

#! snip-end

,name,latitude,longitude,parent_station_id,country,time_zone,is_city,is_main_station,is_airport
id,,,,,,,,,
5964,Antwerpen,51.221722,4.405860,NaN,BE,Europe/Brussels,True,False,False
5970,Blandain Ville,50.617431,3.263740,NaN,BE,Europe/Brussels,True,False,False
5974,Bruxelles,50.846520,4.351739,NaN,BE,Europe/Brussels,True,False,False
6003,Quevy Ville,NaN,NaN,NaN,BE,Europe/Brussels,True,False,False
6006,Sterpenich Ville,NaN,NaN,NaN,BE,Europe/Brussels,True,False,False

In [14]:
#! snip: Lab1

# using the .describe()
belgium_city.describe()

#! snip-end

        latitude  longitude  parent_station_id
count   9.000000   9.000000                0.0
mean   50.719715   4.810847                NaN
std     0.366820   0.996916                NaN
min    49.999779   3.263740                NaN
25%    50.617431   4.351739                NaN
50%    50.718089   4.444643                NaN
75%    50.979756   5.701847                NaN
max    51.221722   6.120155                NaN

#! snip: Lab1

The `.describe()` function ran only on the numerical series in the data set; it did not run on the series that were categorical in nature. This means that the `.describe()` function is only used for numerical statistical summaries, and we would need to use something else for the categorical series.

#! snip-end

# Part 4: (DS 3000 Students Only) GitHub (10 points)

When you finish the first three parts, give one last restart and run all to this file. Then, go to the [DS 3000 GitHub](https://github.com/eaegerber/ds3000_summer25), and clone it to your local machine. Then:

- In the cloned ds3000_summer25 repo, create a folder with your name (as Dr. Gerber has already done)
- Navigate to that folder and place this jupyter notebook inside

In [ ]:
#! snip: Lab1

git clone https://github.com/eaegerber/ds3000_summer25.git

#! snip-end